.survey {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style:dashed;
  Margin: 20px;
  padding: 20px;
  border-color:bisque;
}

.header {
  margin: auto;
  width: 100%;
  padding: 20px;
  color:cadetblue;
}

.img {
  width:300px;
  height:auto;
  border-style:solid;
  Margin: 20px;
  padding: 20px;
  flex-direction: row;
}

.answer {
  display: none;
}

#frontend {
  display: none;
}

#backend {
  display: none;
}

#fullstack {
  display: none;
}